
body {
    background-image: url('images/pattern-background-desktop.svg');
    background-position: left -70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 0.8rem;
    padding-top: 3%;
    background-color: rgb(229, 235, 250);
}


/* header section */

.container {
    width: 25%;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    padding: 0 0 30px;
    border-radius: 5%;
    overflow: hidden;
}


.container .illustration, .illustration img {
    width: 100%;
}


h1{
    margin-bottom: 0;
    margin-top: 10%;
    font-size: 1.25rem;
    font-weight: 900;
}

/* main section */

.m-icon {
    padding-bottom: 10px;
}

p {
    color:  hsl(224, 23%, 55%);
}

h2 {
    font-weight: 700;
    font-size: 0.8rem;
}


.info {
    font-weight: 500;
    padding: 3% 13%;
    line-height: 1.5;
    margin-top: 0;
}

.price-plan-border-radius {
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
}


.price-plan {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: hsla(225, 100%, 94%, 0.5); 
    align-items: center;
    padding: 3%;
}



.plan {
    text-align: left;
}

.plan h3, .plan p {
    margin-block: 5px;
}

.change {
    text-align: right;
    text-decoration: underline;
    text-decoration-color: hsl(245, 75%, 52%);
    font-weight: 700;
    margin-top: 10px;
}

.change p {
    color:hsl(245, 75%, 52%);
}

.change:hover {
    text-decoration: none;
}


/* footer section */
button {
    width: 75%;
    margin: 2.5rem 0 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 5px rgb(233, 227, 227);
    color: #fff;
    margin: 50px auto 30px;
    font-weight: 700;
    font-size: 0.75rem;
    background-color: hsl(245, 75%, 52%);
    padding: 10px 32px;
    border: hidden;
}

button:hover {
    background-color:  hsl(224, 23%, 55%);
}


.cancel {
    font-weight: 500;
    width: 50%;
    margin: 0 auto;
}

.cancel:hover {
    color: black;
}


/* reference section */
.attribution { 
    font-size: 11px; 
    text-align: left; 
    padding-left: 10px;
}

.reference {
    position: relative;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}


/* media query */

@media screen and (max-width: 1440px) {
    .container {
        width: 365px;
    }

}

@media screen and (max-width: 768px) {
    .attribution {
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 425px) {
    body {
        background-position: top;
    }

    .attribution {
        display: none;
    }

    .container {
        width: 300px;
    }
}
